Python's workhorse data structures:
- tuples
- list
- dictionaries
- sets

# Tuple
a *tuple* is fixed-length, immutable sequence of python objects.

In [2]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [3]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [7]:
tup = tuple("string")

In [8]:
tup[0]

's'

In [9]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [10]:
nested_tup[0]

(4, 5, 6)

In [15]:
tup = tuple(["foo", [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [18]:
# the last semi colon cannot be omitted
(4, None, 'foo') + (6, 0) + ("bar",)

(4, None, 'foo', 6, 0, 'bar')

In [20]:
tup = (4, 5, 6)
a, b, c = tup
a
b
c

6

In [21]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [22]:
a

4

In [23]:
# swap variable names
a, b = 1, 2
a, b = b, a

In [24]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [29]:
values = 1, 2, 3, 4, 5
a, b, *_ = values

In [30]:
a

1

In [31]:
b

2

In [32]:
_

[3, 4, 5]

In [7]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)
a.count(2)

4

In [35]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")

b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [38]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [39]:
gen = range(10)
gen

range(0, 10)

In [40]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [43]:
b_list.pop(2)

'baz'

In [44]:
b_list

['foo', 'peekaboo', 'dwarf']

In [47]:
b_list.remove("foo")

In [48]:
b_list

['peekaboo', 'dwarf']

In [49]:
b_list.append("foo")

In [50]:
b_list

['peekaboo', 'dwarf', 'foo']

In [51]:
"dwarf" in b_list

True

In [52]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [54]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [55]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [57]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key = len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [58]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [59]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [60]:
seq[:5]

[7, 2, 3, 6, 3]

In [61]:
seq[3:]

[6, 3, 6, 0, 1]

In [62]:
seq[-4:]

[3, 6, 0, 1]

In [63]:
seq[-6:-2]

[3, 6, 3, 6]

In [64]:
seq[::2]

[7, 3, 3, 0]

In [65]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [66]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [67]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [68]:
d1["b"]

[1, 2, 3, 4]

In [69]:
"b" in d1

True

In [71]:
d1[5] = "some value"

In [73]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [74]:
del d1[5]

In [75]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [76]:
ret = d1.pop("dummy")
ret

'another value'

In [77]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [78]:
list(d1.keys())

['a', 'b', 7]

In [79]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [80]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [82]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [83]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [84]:
mapping = dict(tuples)

In [85]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [86]:
hash("string")

-4599775377922955184

In [87]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [88]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [89]:
set([2, 3, 1, 2, 3, 3])

{1, 2, 3}

In [90]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [91]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [92]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [93]:
a.intersection(b)

{3, 4, 5}

In [94]:
a & b

{3, 4, 5}

In [95]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [96]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [97]:
d = a.copy()
d

{1, 2, 3, 4, 5}

In [98]:
d &= b
d

{3, 4, 5}

In [99]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [100]:
len(my_set)

1

In [101]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [102]:
a_set.issuperset({1, 2, 3})

True

In [103]:
{1, 2, 3} == {1, 2, 3}

True

In [115]:
for i, value in enumerate(my_data):
    print(f"{i} rows: -- {value}")

0 rows: -- 1
1 rows: -- 2
2 rows: -- 3
3 rows: -- 4

In [105]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [106]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [110]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)
#dict(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [111]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [116]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [117]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [118]:
strings = ["a", "as", "bat", "car", "dove", "python"]

In [119]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [120]:
lengths = [len(x) for x in strings]

In [121]:
lengths

[1, 2, 3, 3, 4, 6]

In [122]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [123]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [124]:
tuple(map(len, strings))

(1, 2, 3, 3, 4, 6)

In [125]:
loc_mapping = {value: index for index, value in enumerate(strings)}

In [126]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [128]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count("a") > 1]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [129]:
result = [name for names in all_data for name in names if name.count("a") > 1]
result

['Maria', 'Natalia']

In [130]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Functions

In [131]:
a = []

def func():
    for i in range(5):
        a.append(i)

func()
a

[0, 1, 2, 3, 4]

In [132]:
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [138]:
a = None
def bind_a_variable():
    global a
    a = []


bind_a_variable()
print(a)

[]

In [140]:
states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south carolina##", "West virginia?"]

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [156]:
def remove_punctuation(value):
    return re.sub("[?#!]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
        
    return result

clean_strings(states, clean_ops)

['Maria',
 'Natalia',
 'Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [158]:
for x in map(remove_punctuation, states): 
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

# Anonymous Functions

In [160]:
def short_function(x):
    return x^2

equiv_anno = lambda x: x^ 2

In [161]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [162]:
strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key = lambda x: len(set(x)))

In [163]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

# Generators
Many objects in python support iteration, such as over objects in a list or lines in  a file.

An iterator is any object that will yeild objects to the python interpreter when used in a context like for loop.

In [170]:
def squares(n = 10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

        
gen = squares()
gen

In [165]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [171]:
for x in gen:
    print(x, end = " ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [172]:
gen = (x ** 2 for x in range(100))
gen

In [173]:
sum(x ** 2 for x in range(100))

328350

In [174]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [176]:
import itertools

def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [180]:
path = "/home/yincy/git/github/pydata-book/examples/segismundo.txt"
f = open(path, encoding = "utf-8")
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [181]:
lines = [x.rstrip() for x in open(path, encoding = "utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [182]:
f.close()

In [185]:
import sys
sys.getdefaultencoding()

'utf-8'