In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision = 4, suppress=True)
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm

In [27]:
print("Hello Word!")

Hello Word!

In [28]:
%pwd
%ls -l

total 12
-rw-r--r-- 1 yincy yincy 2984 Oct 18 10:31  chapter_02.ipynb
-rw-r--r-- 1 yincy yincy   21 Oct 18 10:02  hello_word.py
-rw-r--r-- 1 yincy yincy  107 Oct 18 10:00 'python3 notes.txt'

In [5]:
b = [1, 2, 3]

In [9]:
?b

In [12]:
print?

In [23]:
def add_numbers(a, b):
    """
    Add two numbers together
    
    Returns
    -------
    the_sum: type of arguments
    """
    return a + b

In [24]:
?add_numbers

In [25]:
%np.*load*?

In [32]:
a = 4.5
type(a)
b = 2
type(b)
a / b # b conerted to the float for the division operation

2.25

In [34]:
# check an object is an instance of a particular type
a = 5
isinstance(a, int)

True

In [35]:
isinstance(a, (int, float))

True

In [37]:
isinstance(b, (int, float))

True

In [41]:
a = "foo"
getattr(a, "split")

In [42]:
# attributes manipulation
# 1. getattr(obj, attr)
# 2. hasattr(obj, attr)
# 3. setattr(oj, attr)

In [43]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [45]:
isiterable(a)

True

In [46]:
isiterable([1, 2, 3])

True

In [47]:
isiterable(5)

False

In [48]:
5 - 7

-2

In [50]:
12 + 21.5

33.5

In [52]:
a = [1, 2, 3]
b = a
a is b

True

In [53]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [55]:
a = "a string"
b = a.replace("string", "longer string")
b

'a longer string'

In [59]:
list(a)

['a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [61]:
# include left but not right
s = "python"
s[:3]

'pyt'

In [63]:
s = "12\\34"
print(s)

12\34

In [64]:
# r stands for raw
s = r"this\has\no\special\characters"
print(s)

this\has\no\special\characters

In [65]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [66]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [67]:
print(result)

10 Pesos is worth US$0.11304544426859599

In [69]:
from datetime import date, time, datetime
dt = datetime(2011, 10, 29, 20, 30, 21)

In [72]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [75]:
dt.strftime("%Y-%m-%d %H:%M:%S")

'2011-10-29 20:30:21'

In [77]:
sequences = [1, 2, None, 4, None, 6]
total = 0
for value in sequences:
    if value is None:
        continue
    total += value

print(total)

13

In [79]:
sequences = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequences:
    if value == 5:
        break
    total_until_5 += value
    
print(total_until_5)

13

In [80]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [81]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

print(total)

504

In [82]:
if x < 0:
    print("negative!")
elif x == 0:
    # put something here
    pass
else:
    print("potitive!")

potitive!

In [84]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
?range

In [87]:
len(list(range(10)))

10