# Scalar Types

Python along with its standard library has a small set of built-in types for handling numerical data, strings, boolean (True or False) values, and dates and time. These "single value" types are sometimes called *scalar types* and we refer to them as scalars.  

**Type**     | **Description**
-------------|----------------------
None| The Python "null" value (only one instance of the None object exists)
str| String type; holds Unicode (UTF-8 encoded) strings
bytes| Raw ASCII bytes (or Unicode encoded as types)
bool| A True or False value 
int| Arbitrary precision signed integer
float| Double-precision (64-bit) floating-point number (note there is no separate double type)

## Numeric types

The primary Python types for numbers are *int* and *float*. An *int* can store arbitrarily large numbers.

In [2]:
ival = 178331
ival ** 6

32163334648433089842676048593481

Floating-point numbers are represented with Python **float** type. Under the hood each one is a double-precision (64-bit) value. They can also be expressed with scientific notation.

In [3]:
fval = 7.243
fval2 = 6.78e-5

In [5]:
3 / 2

1.5

In [7]:
3 // 2

1

## Strings

In [7]:
a = 'one way of writing a string'
b = "another way"

c = """
This is a longer string that 
spans multiple lines
"""

In [9]:
c.count('\n')

3

The string c actually contains four lines of text:  

the line breaks after """ and after **lines** are included in the string.

In [19]:
a[1:10]

'ne way of'

In [21]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [28]:
b = a.replace("string", "longer string")
b

'one way of writing a longer string'

In [30]:
a

'one way of writing a string'

In [33]:
# the r stanads for raw
s = r"the\has\no\special\characters"
s

'the\\has\\no\\special\\characters'

In [3]:
template = '{0:.2f}{1:s} are worth US${2:d}'

# {0:.2f} means to format the first argument as a floatting-point number with two decimal places.
# {1:s} means to format the second argument as a string.
# {2:d} means to format the third argument as an exact integer.

In [5]:
template.format(4.5560, ' Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

## Bytes and Unicode

In [12]:
val = "español"
val

'español'

In [15]:
val_utf8 = val.encode("utf-8")
val_utf8

b'espa\xc3\xb1ol'

In [17]:
type(val_utf8)

bytes

In [19]:
val_utf8.decode("utf-8")

'español'

In [21]:
val_utf8.decode?

In [23]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [25]:
decoded = bytes_val.decode("utf8")
decoded

'this is bytes'

## Booleans

In [26]:
True and True

True

In [27]:
False or True

True

## Type casting

The `str`, `bool`, `int`, and `float` types are also functions that can be used to cast values to those types.

In [29]:
s = '3.14159'
fval = float(s)

In [30]:
type(fval)

float

In [31]:
int(fval)

3

In [32]:
bool(fval)

True

## None

None is the Python null value type. If a function does not explicitly return a value, it implicitly returns None.

In [33]:
a = None

a is None

True

In [34]:
b = 5
b is not None

True

In [35]:
# None is also a common default value for function arguments

def add_and_maybe_multiply(a, b, c = None):
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

## Dates and times 

The built-in Python `datetime` module provides `datetime`, `date`, `time` types.

In [36]:
from datetime import datetime, date, time

dt = datetime(2011, 10, 29, 20, 30, 21)

dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [41]:
dt.year

2011

In [42]:
dt.month

10

In [43]:
dt.day

29

In [44]:
dt.hour

20

In [46]:
dt.minute

30

In [47]:
dt.second

21

In [49]:
dt.date()

datetime.date(2011, 10, 29)

In [50]:
dt.time()

datetime.time(20, 30, 21)

In [51]:
# strftime method formats a datetime as a string

dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [55]:
# parse str to datetime
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [56]:
dt.replace(minute = 0, second = 0)

datetime.datetime(2011, 10, 29, 20, 0)

In [59]:
# since datetime.datetime is an immutable type, methods like 
# these always produce new objects.
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [63]:
dt2 = datetime(2051, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=14627, seconds=7179)

In [64]:
type(delta)

datetime.timedelta

**Type** | **Description**
---------|-----------------
%Y| Four-digit year
%y| Two-digit year
%m| Two-digit day[01,31]
5H| Hour (24-hour clock)[00,23]
%I| Hour (12-hour clock)[01,12]
%M| Two-digit minute[00,59]
%S| Second[00, 61](second 60, 61 account for leap seconds)
%w| Weekday as integer [0 (Sunday), 6]
%U| Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are "week 0"
%z| UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
%F| Shortcut for %Y-%m-%d (e.g., 2012-4-18)
%D| Shortcut for %m/%d/%y (e.g., 04/18/12)

## Control Flow
### if, elif,and else

In [73]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

**pass** is the "no-op" statement in Python. It can be used in blocks where no action is to be taken (or as a placehoder for code not yet implemented); it is only required because Python uses whitespace to delimit blocks.

In [76]:
x = 0
if x < 0:
    print("negative!")
    
elif x == 0:
    pass

else:
    print("positive!")

In [77]:
range(10)

range(0, 10)

In [78]:
range(0, 10)

range(0, 10)

In [79]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [82]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [84]:
seq = [1, 2, 3, 4]

for i in range(len(seq)):
    print(seq[i], end = "\n")

1
2
3
4

In [88]:
sum = 0

for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i
    
sum

2333316668

### Ternary expressions

A *ternary expression* in python allows you to combine an if-else block that produces a value into a single line or expression. The syntax for this in Python is:  

    value = true-expr if condition else false-expr
    
It has the identical effect as the more verbose:

if condition:  
    value = true-expr  
else:  
    value = false-expr