In [10]:
import tushare as ts

print(tushare.__version__)

1.2.62

**token**  
1b9973756b5427746d387bc9f590614342bdb31b00bf5ff9c02cc555

In [11]:
ts.set_token('1b9973756b5427746d387bc9f590614342bdb31b00bf5ff9c02cc555')

In [12]:
pro = ts.pro_api()

In [13]:
df = pro.trade_cal(exhange = '', 
                   start_date = "20180901", 
                   end_date = '20201201', 
                   fields = 'exchange, cal_date, is_open, pretrade_date', 
                   is_open = '0')

In [14]:
df

    exchange  cal_date  is_open pretrade_date
0        SSE  20180901        0      20180831
1        SSE  20180902        0      20180831
2        SSE  20180908        0      20180907
3        SSE  20180909        0      20180907
4        SSE  20180915        0      20180914
..       ...       ...      ...           ...
274      SSE  20201115        0      20201113
275      SSE  20201121        0      20201120
276      SSE  20201122        0      20201120
277      SSE  20201128        0      20201127
278      SSE  20201129        0      20201127

[279 rows x 4 columns]