In [25]:
import tushare as ts
import pandas as pd

**token**  
1b9973756b5427746d387bc9f590614342bdb31b00bf5ff9c02cc555

In [5]:
ts.set_token('1b9973756b5427746d387bc9f590614342bdb31b00bf5ff9c02cc555')

In [47]:
pro = ts.pro_api()

# 基金列表

In [43]:
df_exis = pro.fund_basic(market = "E", status = "L")
df_inside = pro.fund_basic(market = "O", status = "L")
df = pd.concat([df_exis, df_inside], axis = 0)
df.shape

(10860, 25)

In [44]:
df.size

271500

In [83]:
df.iloc[:3, 0:3]

     ts_code     name management
0  513300.SH  纳斯达克ETF       华夏基金
1  159821.SZ   BOCI创业       中银证券
2  159822.SZ      新经济       银华基金

In [46]:
df.to_csv("funds.csv")

In [97]:
code = df.ts_code
code[:10]

0    513300.SH
1    159821.SZ
2    159822.SZ
3    588090.SH
4    511000.SH
5    588050.SH
6    588000.SH
7    588080.SH
8    159823.SZ
9    515530.SH
Name: ts_code, dtype: object

# 基金管理人

In [51]:
fund_company = pro.fund_company()

In [53]:
fund_company.to_csv("fund_company.csv")

# 基金规模

In [ ]:
fund_share = pro.fund_share(ts_code)