In [2]:
import numpy as np
import pandas as pd

from datetime import datetime

In [4]:
now = datetime.now()
now

datetime.datetime(2023, 10, 29, 9, 21, 27, 304884)

In [5]:
now.year, now.month, now.day

(2023, 10, 29)

In [8]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [9]:
delta.days

926

In [10]:
delta.seconds

56700

In [11]:
from datetime import timedelta

In [17]:
start = datetime(year = 2011, month = 1, day = 7)
start + timedelta(days = 12)

datetime.datetime(2011, 1, 19, 0, 0)

In [19]:
start - 2 * timedelta(days = 12)

datetime.datetime(2010, 12, 14, 0, 0)

## Converting Between String and Datetime

In [21]:
stamp = datetime(year = 2011, month = 1, day = 3)
str(stamp)

'2011-01-03 00:00:00'

In [22]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [25]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
datestrs = ["7/6/2011", "8/6/2011"]
[datetime.strptime(x, "%m/%d/%Y") for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [28]:
datestrs = ["2011-07-06 12:00:00", "2011-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [31]:
dates = [datetime(2011, 1, 2), 
         datetime(2011, 1, 5), 
         datetime(2011, 1, 7), 
         datetime(2011, 1, 8),
         datetime(2011, 1, 10), 
         datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), 
              index=dates)
ts

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
2011-01-10    1.433659
2011-01-12    0.434823
dtype: float64

In [32]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [33]:
ts + ts[::2]

2011-01-02    2.006605
2011-01-05         NaN
2011-01-07    0.646532
2011-01-08         NaN
2011-01-10    2.867319
2011-01-12         NaN
dtype: float64

In [34]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

## Indexing, Selection, Subsetting

In [35]:
stamp = ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [36]:
ts[stamp]

0.3232660701407979

In [37]:
ts

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
2011-01-10    1.433659
2011-01-12    0.434823
dtype: float64

In [39]:
ts["2011-01-02"]

1.0033022832977634

In [43]:
longer_ts = pd.Series(np.random.standard_normal(1000), 
                     index=pd.date_range("2000-01-01", periods = 1000))
longer_ts

2000-01-01    1.460098
2000-01-02   -1.611784
2000-01-03    0.019660
2000-01-04   -0.363556
2000-01-05   -1.998491
                ...
2002-09-22    0.066931
2002-09-23   -0.601775
2002-09-24   -1.181882
2002-09-25    1.846911
2002-09-26   -0.042657
Freq: D, Length: 1000, dtype: float64

In [44]:
longer_ts["2001"]

2001-01-01   -0.651821
2001-01-02   -0.423878
2001-01-03   -0.203938
2001-01-04    0.864799
2001-01-05    1.516555
                ...
2001-12-27   -0.677610
2001-12-28    0.325347
2001-12-29    1.014832
2001-12-30    1.795516
2001-12-31    0.037401
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts["2001-05"]

2001-05-01    1.841797
2001-05-02   -1.170969
2001-05-03   -1.029854
2001-05-04   -0.092182
2001-05-05   -1.075234
2001-05-06    2.037189
2001-05-07    0.725851
2001-05-08   -0.092325
2001-05-09   -0.070995
2001-05-10    0.004115
2001-05-11    1.925831
2001-05-12    0.344501
2001-05-13    1.309471
2001-05-14    0.123099
2001-05-15    1.290983
2001-05-16    1.012219
2001-05-17    2.080314
2001-05-18    0.728438
2001-05-19    0.337450
2001-05-20   -1.078779
2001-05-21    1.095941
2001-05-22    0.060637
2001-05-23   -0.730205
2001-05-24   -0.961067
2001-05-25   -1.030563
2001-05-26    0.169593
2001-05-27   -1.127494
2001-05-28    1.406951
2001-05-29    1.375588
2001-05-30    0.187448
2001-05-31   -0.990399
Freq: D, dtype: float64

In [47]:
type(longer_ts)

pandas.core.series.Series

In [48]:
ts

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
2011-01-10    1.433659
2011-01-12    0.434823
dtype: float64

In [49]:
ts[datetime(2011,1,7)]

0.3232660701407979

In [51]:
type(ts)

pandas.core.series.Series

In [52]:
ts["2011-01-06":"2011-01-11"]

2011-01-07    0.323266
2011-01-08   -0.338976
2011-01-10    1.433659
dtype: float64

In [53]:
ts.truncate?

In [54]:
ts.truncate(after="2011-01-09")

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
dtype: float64

In [57]:
ts[ts.index <= "2011-01-09"]

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
dtype: float64

In [62]:
dates = pd.date_range(start="2000-01-01", periods=100, freq="W-WED")
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [64]:
long_df = pd.DataFrame(np.random.standard_normal((100, 4)), 
                      index = dates,
                      columns=["Colorado", "Texas", "New York", "Ohio"])
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05  0.568659 -0.120391  0.488267  0.644886
2000-01-12  2.290809 -0.115245 -1.290329  0.431082
2000-01-19 -0.352669 -0.741748 -2.150423 -0.927021
2000-01-26 -0.208092  0.649141 -0.949967  1.018078
2000-02-02 -1.137077 -0.397375  0.573562 -0.862100

In [65]:
long_df.loc["2001-05"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.037905  0.104253 -0.958663  0.191899
2001-05-09  0.252926 -0.156680  0.776118  0.100496
2001-05-16 -0.227904  0.691487  0.865549 -1.110762
2001-05-23 -0.326263 -0.104299  0.191788 -1.244353
2001-05-30  1.402266  0.352948 -0.931699  0.234225

## Time Series with Duplicate Indices

In [66]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", 
                         "2000-01-02", "2000-01-02", "2000-01-03"])

dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [67]:
dup_ts.index.is_unique

False

In [68]:
dup_ts["2000-01-03"]

4

In [69]:
dup_ts["2000-01-02"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [71]:
dup_ts.groupby(level = 0).mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [72]:
dup_ts.groupby(level = 0).sum()

2000-01-01    0
2000-01-02    6
2000-01-03    4
dtype: int64

In [73]:
dup_ts.groupby?

In [74]:
dup_ts.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [75]:
dup_ts.groupby(level = 0, axis = 0).count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [76]:
ts

2011-01-02    1.003302
2011-01-05    0.294050
2011-01-07    0.323266
2011-01-08   -0.338976
2011-01-10    1.433659
2011-01-12    0.434823
dtype: float64

In [78]:
resampler = ts.resample("D")
resampler

## Generating Date Ranges

In [79]:
index = pd.date_range(start="2012-04-01", end = "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start= "2012-04-01", periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(end = "2012-06-01", periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [88]:
pd.date_range(start="2023-08-31", end = "2023-12-01", freq = "W-WED")

DatetimeIndex(['2023-09-06', '2023-09-13', '2023-09-20', '2023-09-27',
               '2023-10-04', '2023-10-11', '2023-10-18', '2023-10-25',
               '2023-11-01', '2023-11-08', '2023-11-15', '2023-11-22',
               '2023-11-29'],
              dtype='datetime64[ns]', freq='W-WED')

In [89]:
pd.date_range(start = "2012-05-02 12:56:31", periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [90]:
pd.date_range(start = "2012-05-02 12:56:31", periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [91]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4H")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [92]:
from pandas.tseries.offsets import Hour, Minute

In [93]:
hour = Hour()
hour

In [95]:
Hour(4)

In [96]:
pd.date_range("2000-01-01", periods=10, freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [97]:
ts = pd.Series(np.random.standard_normal(4), 
              index= pd.date_range("2000-01-01", periods=4, freq="M"))
ts

2000-01-31   -0.425020
2000-02-29   -1.092337
2000-03-31   -0.641202
2000-04-30   -1.288202
Freq: M, dtype: float64

In [99]:
ts.shift(periods=2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.425020
2000-04-30   -1.092337
Freq: M, dtype: float64

In [100]:
ts.shift(-2)

2000-01-31   -0.641202
2000-02-29   -1.288202
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [101]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    1.570081
2000-03-31   -0.412999
2000-04-30    1.009042
Freq: M, dtype: float64

In [102]:
ts.shift(periods=2, freq="M")

2000-03-31   -0.425020
2000-04-30   -1.092337
2000-05-31   -0.641202
2000-06-30   -1.288202
Freq: M, dtype: float64

In [103]:
ts.shift(periods=3, freq="D")

2000-02-03   -0.425020
2000-03-03   -1.092337
2000-04-03   -0.641202
2000-05-03   -1.288202
dtype: float64

In [106]:
from pandas.tseries.offsets import Day, MonthEnd

ts = pd.Series(np.random.standard_normal(20), 
              index = pd.date_range("2000-01-15", periods=20, freq="4D"))
ts

2000-01-15    0.444266
2000-01-19    0.602343
2000-01-23    0.304054
2000-01-27    2.338041
2000-01-31    1.181724
2000-02-04    1.113640
2000-02-08   -0.508289
2000-02-12   -0.237383
2000-02-16   -0.346230
2000-02-20    0.460019
2000-02-24    0.630829
2000-02-28    0.052611
2000-03-03    0.142551
2000-03-07   -2.027632
2000-03-11   -0.078249
2000-03-15   -0.515790
2000-03-19    0.620347
2000-03-23   -0.224109
2000-03-27   -0.469301
2000-03-31   -1.886223
Freq: 4D, dtype: float64

In [107]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31    0.974086
2000-02-29    0.166457
2000-03-31   -0.554801
dtype: float64

In [108]:
MonthEnd()

In [131]:
g = ts.groupby(MonthEnd().rollforward)

for name, time in g:
    print((name, time))

(Timestamp('2000-01-31 00:00:00'), 2000-01-15    0.444266
2000-01-19    0.602343
2000-01-23    0.304054
2000-01-27    2.338041
2000-01-31    1.181724
Freq: 4D, dtype: float64)
(Timestamp('2000-02-29 00:00:00'), 2000-02-04    1.113640
2000-02-08   -0.508289
2000-02-12   -0.237383
2000-02-16   -0.346230
2000-02-20    0.460019
2000-02-24    0.630829
2000-02-28    0.052611
Freq: 4D, dtype: float64)
(Timestamp('2000-03-31 00:00:00'), 2000-03-03    0.142551
2000-03-07   -2.027632
2000-03-11   -0.078249
2000-03-15   -0.515790
2000-03-19    0.620347
2000-03-23   -0.224109
2000-03-27   -0.469301
2000-03-31   -1.886223
Freq: 4D, dtype: float64)

In [134]:
ts.groupby(MonthEnd().rollforward).mean()

2000-01-31    0.974086
2000-02-29    0.166457
2000-03-31   -0.554801
dtype: float64

In [137]:
ts.resample(rule = "M").mean()

2000-01-31    0.974086
2000-02-29    0.166457
2000-03-31   -0.554801
Freq: M, dtype: float64